Repository schiehll/trivia: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{src,public,webpack}/**/*.js": ["eslint --fix", "git add"],
  "{src,public,webpack}/**/*.{js,md,mdx,json,html}": ["prettier --write", "git add"]
}

Add base components
  package.json
  src/components/button/index.js
  src/components/button/styles.js
  src/components/card/index.js
  src/components/card/styles.js
  src/components/content/index.js
  src/components/content/styles.js
  src/components/footer/index.js
  src/components/footer/styles.js
  src/components/header/index.js
  src/components/header/styles.js
  src/components/loader/index.js
  src/components/loader/styles.js
  src/components/page-loader/index.js
  src/components/page-loader/styles.js
  src/routes/index.js
  src/screens/home/index.js
  src/screens/home/styles.js
  src/shared-styles/animations/rotate.js
  src/shared-styles/global.js
  src/shared-styles/theme.js
  yarn.lock
Due: eslint --fix, prettier --write

Add quiz screen
  .eslintrc
  package.json
  src/api/fetchQuestions.js
  src/components/button/styles.js
  src/components/content/index.js
  src/components/content/styles.js
  src/components/emoji/index.js
  src/components/error-message/index.js
  src/components/footer/index.js
  src/components/header/styles.js
  src/components/loader/index.js
  src/components/loader/styles.js
  src/components/page-wrapper/index.js
  src/components/page-wrapper/styles.js
  src/routes/index.js
  src/screens/home/index.js
  src/screens/quiz/index.js
  src/shared-styles/theme.js
  src/utils/difficulties.js
  src/utils/quizConfig.js
  yarn.lock
Due: eslint --fix, prettier --write

Add results page
  _redirects
  package.json
  public/index.html
  src/api/fetchQuestions.js
  src/components/answers-list/index.js
  src/components/answers-list/styles.js
  src/components/content/index.js
  src/routes/index.js
  src/screens/quiz/index.js
  src/screens/results/index.js
  src/shared-styles/theme.js
  src/stores/answers.js
  yarn.lock
Due: eslint --fix, prettier --write

Fix h2 color contrast
  src/components/header/styles.js
Due: eslint --fix, prettier --write

Add description meta
  public/index.html
Due: prettier --write

Add 404 message
  package.json
  src/screens/no-match/index.js
Due: eslint --fix, prettier --write

Add prop types
  package.json
  src/components/answers-list/index.js
  src/components/content/index.js
  src/components/emoji/index.js
  src/components/error-message/index.js
  src/components/footer/index.js
  src/components/header/index.js
Due: eslint --fix, prettier --write

Add tests
  .babelrc
  jest.config.js
  package.json
  setupTests.js
  src/components/error-message/index.js
  src/screens/home/Home.spec.js
  src/screens/home/index.js
  src/screens/no-match/NoMatch.spec.js
  src/screens/quiz/Quiz.spec.js
  src/screens/quiz/index.js
  src/screens/results/Results.spec.js
  src/screens/results/index.js
  yarn.lock
Due: eslint --fix, prettier --write

Add documentation
  .kerbsrc.js
  README.md
  kerbs/file-structure.mdx
  kerbs/installing.mdx
  kerbs/overview.mdx
  kerbs/running.mdx
  kerbs/tech-stack.mdx
  kerbs/testing.mdx
  package.json
  yarn.lock
Due: none

Add preload of screens
  src/screens/home/index.js
  src/screens/quiz/index.js
  src/utils/preloadScreen.js
Due: eslint --fix, prettier --write
